@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
  font-weight: 400 900;
  font-display: swap;
}

:root {
  /* Colors taken from: https://yeun.github.io/open-color/ */
  --clr-neutral-100: hsl(210, 17%, 95%);
  --clr-neutral-200: hsl(210, 16%, 93%);
  --clr-neutral-300: hsl(210, 14%, 89%);
  --clr-neutral-400: hsl(210, 14%, 83%);
  --clr-neutral-500: hsl(210, 11%, 71%);
  --clr-neutral-600: hsl(210, 7%, 56%);
  --clr-neutral-700: hsl(210, 9%, 31%);
  --clr-neutral-800: hsl(210, 10%, 23%);
  --clr-neutral-900: hsl(210, 11%, 15%);

  --clr-accent-100: #e9fac8;
  --clr-accent-200: #d8f5a2;
  --clr-accent-300: #c0eb75;
  --clr-accent-400: #a9e34b;
  --clr-accent-500: #94d82d;
  --clr-accent-600: #82c91e;
  --clr-accent-700: #74b816;
  --clr-accent-800: #66a80f;
  --clr-accent-900: #5c940d;

  --clr-heading: var(--clr-neutral-200);
  --clr-body: var(--clr-neutral-500);
  --clr-body-bg: var(--clr-neutral-900);

  --ff-base: "Inter", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 900;

  --fs-200: 0.5rem;
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  color-scheme: dark;
  accent-color: var(--clr-accent-500);

  scroll-behavior: smooth;
  scrollbar-color: var(--clr-accent-600) var(--clr-neutral-800);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--clr-body);
  background-color: var(--clr-body-bg);
  font-family: var(--ff-base);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-heading);
  font-weight: var(--fw-bold);
  text-wrap: balance;
}

p,
li {
  max-width: 65ch;
  text-wrap: pretty;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

:where(h1, h2, h3, h4) > a {
  color: currentColor;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--clr-accent-500);
  }
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

main,
section {
  container-type: inline-size;
}

:target {
  scroll-margin-block: 5ex;
}

::selection {
  background-color: var(--clr-accent-600);
  color: var(--clr-neutral-900);
}

.icon {
  fill: var(--clr-body);
  width: 1rem;
}

.wrapper {
  max-inline-size: 1180px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.accent-color {
  color: var(--clr-accent-500);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.section {
  margin-block-end: 3rem;
}

.button {
  display: inline flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-900);
  padding: 0.8em 2em;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-300);
  letter-spacing: 0.15ch;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-neutral-200);
  }
}
