---
import BarsIcon from "../../assets/icons/bars-solid.svg";
import XMarkIcon from "../../assets/icons/xmark-solid.svg";

export interface link {
  name: string;
  url: string;
}

export const links: link[] = [
  { name: "Home", url: "/" },
  { name: "Skills", url: "/#skills-section" },
  { name: "Projects", url: "/#projects-section" },
  { name: "Contact", url: "/#contact-section" },
];
---

<script>
  const navTogglers = document.querySelectorAll(
    '[aria-controls="primary-nav"]'
  );
  const nav = document.querySelector("#primary-nav");

  navTogglers.forEach((navToggler) => {
    navToggler.addEventListener("click", () => {
      if (window.innerWidth < 640) {
        const isActive = nav?.classList.toggle("active");

        document.body.classList.toggle("stop-scrolling");

        navTogglers.forEach((toggler) => {
          toggler.setAttribute("aria-expanded", isActive ? "true" : "false");
        });
      }
    });
  });
</script>

<header>
  <div class="wrapper">
    <a href="#main-content" class="skip-to-main">Skip to main content</a>

    <a href="/" class="logo">
      <span>G.</span>
    </a>

    <button class="menu-opener" aria-controls="primary-nav">
      <span class="visually-hidden">Open Menu</span>
      <BarsIcon class="icon" />
    </button>

    <div class="overlay" aria-controls="primary-nav"></div>

    <nav id="primary-nav">
      <button class="menu-closer" aria-controls="primary-nav">
        <span class="visually-hidden">Close Menu</span>
        <XMarkIcon class="icon" />
      </button>

      <ul class="menu">
        {
          links.map((link) => (
            <li class="item">
              <a href={link.url} class="link" aria-controls="primary-nav">
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;

    background-color: hsl(from var(--surface-1) h s l / 0.5);
    backdrop-filter: blur(8px);
    padding-block: var(--size-fluid-2);
    border-bottom: var(--border-size-1) solid var(--surface-2);
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .skip-to-main {
    position: absolute;
    translate: -200%;

    &:hover,
    &:focus-visible {
      translate: 0;
      background-color: var(--brand);
      color: var(--surface-1);
      padding: 1em 3em;
      font-weight: var(--font-weight-7);
    }
  }

  .logo {
    text-decoration: none;
    color: var(--text-1);

    > span {
      font-family: serif;
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-9);
    }
  }

  .menu-opener,
  .overlay,
  .menu-closer {
    display: none;
  }

  .menu {
    counter-reset: link-count;

    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    gap: var(--size-7);
  }

  .menu .item {
    counter-increment: link-count;
  }

  .menu .item .link {
    text-decoration: none;
    color: currentColor;

    display: flex;
    align-items: center;
    gap: var(--size-2);
    font-family: var(--font-industrial);
    text-transform: uppercase;

    &::before {
      content: counter(link-count, decimal-leading-zero);
      font-weight: var(--font-weight-9);
    }

    &:hover,
    &:focus-visible {
      color: var(--brand);
    }
  }

  @media (width < 640px) {
    body.stop-scrolling {
      overflow: hidden;
    }

    .menu-opener,
    .menu-closer {
      background-color: transparent;
      padding: 0;
      border: 0;
    }

    .menu-opener {
      display: block;
    }

    .menu-opener[aria-expanded="true"] {
      display: none;
    }

    .overlay[aria-expanded="true"] {
      display: block;

      position: fixed;
      inset: 0;
      z-index: var(--layer-4);

      height: 100dvh;
      background-color: hsla(0, 0%, 0%, 0.4);
    }

    nav {
      display: none;
    }

    nav.active {
      display: flex;
      flex-direction: column;
      gap: var(--size-9);

      position: fixed;
      inset: 0 0 0 30%;
      z-index: var(--layer-5);

      background-color: var(--surface-1);
      height: 100dvh;
      padding: var(--size-4) var(--size-3);
    }

    .menu-closer[aria-expanded="true"] {
      display: block;
      align-self: self-end;
    }

    nav.active .menu {
      display: grid;
      gap: var(--size-5);
    }
  }
</style>
