---
import EnvelopeIcon from '../assets/icons/envelope-solid.svg'
---

<section class="breakout section flow">
  <h2>Interested in working together?</h2>
  <a href="mailto:heygauravshukla@gmail.com" class="button primary"
    ><EnvelopeIcon class="icon" /> Send me a message</a
  >
</section>

<style>
  section {
    container-type: inline-size;
    text-align: center;

    background-color: var(--surface-2);
    padding-inline: var(--size-3);
    border: var(--border-size-1) solid var(--surface-3);
    border-radius: var(--radius-3);
    margin-block-end: var(--size-fluid-5);
  }

  h2 {
    font-size: var(--font-size-fluid-2);
    line-height: var(--font-lineheight-2);
  }

  a {
    width: fit-content;

    display: inline-flex;
    align-items: center;
    gap: var(--size-2);

    font-size: var(--font-size-fluid-0);
  }

  .icon {
    fill: currentColor;
  }

  @container (min-width: 768px) {
    a {
      gap: var(--size-3);
    }

    .icon {
      width: var(--size-4);
    }
  }
</style>
