---
import EnvelopeIcon from "../assets/icons/envelope-solid.svg";
---

<section class="section">
  <div class="wrapper grid-flow">
    <h2>Interested in working together?</h2>
    <p>Let’s connect and bring your ideas to life.</p>
    <a href="mailto:heygauravshukla@gmail.com" class="button primary"
      ><EnvelopeIcon />Let's Talk</a
    >
  </div>
</section>

<style>
  section {
    container-type: inline-size;
    background-color: var(--clr-surface-2);
  }

  .wrapper {
    gap: 0.75rem;
  }

  h2 {
    font-size: var(--fs-800);
    line-height: 1.25;
  }

  a {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @container (min-width: 640px) {
    .wrapper {
      gap: 1rem;
      place-items: center;
    }

    a {
      padding: 0.75rem 1.5rem;
    }
  }
</style>
