---
import EnvelopeIcon from "../assets/icons/envelope-solid.svg";
---

<section>
  <div class="wrapper">
    <h2>Interested in working together?</h2>
    <a href="mailto:heygauravshukla@gmail.com" class="button primary"
      ><EnvelopeIcon class="icon" /> Send me a message</a
    >
  </div>
</section>

<style>
  section {
    padding-block: var(--size-fluid-5);
  }

  .wrapper {
    background-color: var(--surface-2);
    padding-block: var(--size-9);
    border: var(--border-size-1) solid var(--surface-3);

    display: flex;
    flex-direction: column;
    gap: var(--size-4);
  }

  h2 {
    max-width: 14ch;
    font-size: var(--font-size-fluid-2);
    line-height: var(--font-lineheight-2);
  }

  a {
    width: fit-content;
    min-width: fit-content;

    display: flex;
    align-items: center;
    gap: var(--size-2);

    font-size: var(--font-size-fluid-0);
  }

  .icon {
    fill: inherit;
  }

  @container (min-width: 768px) {
    .wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    a {
      gap: var(--size-3);
    }

    .icon {
      width: var(--size-4);
    }
  }

  @container (min-width: 1180px) {
    .wrapper {
      padding-inline: var(--size-8);
      border-radius: var(--radius-3);
    }
  }
</style>
