---
import EnvelopeIcon from "../assets/icons/envelope-solid.svg";
---

<section class="section">
  <div class="wrapper grid-flow">
    <h2>Interested in working together?</h2>
    <a href="mailto:heygauravshukla@gmail.com" class="button primary"
      ><EnvelopeIcon /> Send me a message</a
    >
  </div>
</section>

<style>
  section {
    container-type: inline-size;
    background-color: var(--clr-surface-2);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h2 {
    font-size: var(--fs-800);
    line-height: 1.25;
  }

  a {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @container (min-width: 640px) {
    .wrapper {
      gap: 1.5rem;
    }

    a {
      padding: 1rem 2rem;
    }
  }

  @container (min-width: 768px) {
    .wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    a {
      max-height: fit-content;
    }
  }
</style>
