---
import EnvelopeIcon from "../assets/icons/envelope-solid.svg";
---

<section
  class="from-primary to-primary/80 text-primary-foreground @container bg-gradient-to-br py-20 md:py-28"
>
  <div class="wrapper space-y-4 @2xl:space-y-5 @2xl:text-center">
    <h2 class="text-3xl font-medium tracking-tighter @xl:text-5xl">
      Interested in working together?
    </h2>
    <p class="text-primary-foreground/80">
      Let’s connect and bring your ideas to life.
    </p>
    <a
      href="mailto:heygauravshukla@gmail.com"
      class="btn btn-secondary @2xl:px-6 @2xl:py-3"
    >
      <EnvelopeIcon />Get in touch</a
    >
  </div>
</section>
