---
import EnvelopeIcon from "../assets/icons/envelope-solid.svg";
---

<section class="bg-accent text-accent-foreground @container py-20 lg:py-28">
  <div class="wrapper space-y-4 @2xl:space-y-5 @2xl:text-center">
    <h2 class="text-3xl font-medium tracking-tighter @xl:text-5xl">
      Interested in working together?
    </h2>
    <p class="text-muted-foreground">
      Let’s connect and bring your ideas to life.
    </p>
    <a
      href="mailto:heygauravshukla@gmail.com"
      class="btn btn-primary @2xl:px-6 @2xl:py-3"
    >
      <EnvelopeIcon />Let's Talk</a
    >
  </div>
</section>
