<footer>
  <div class="wrapper">
    <p>
      Built with <span class="visually-hidden">love</span> ♥ by Gaurav Shukla.
    </p>
  </div>
</footer>

<style>
  footer {
    padding-block: var(--size-fluid-2);
    border-block-start: var(--border-size-1) solid var(--surface-3);
  }

  p {
    text-align: center;
    margin-inline: auto;
  }
</style>
