<footer>
  <div class="wrapper">
    <p>
      Built with <span class="visually-hidden">love</span> ♥ and <a
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer">Astro</a
      > by Gaurav Shukla.
    </p>
  </div>
</footer>

<style>
  footer {
    padding-block: var(--size-fluid-2);
    border-block-start: var(--border-size-1) solid var(--surface-3);
  }

  p {
    text-align: center;
    margin-inline: auto;
  }
</style>
