---
import AvatarImage from "../assets/gaurav-shukla.webp";
import BarsIcon from "../assets/icons/bars-solid.svg";
import XMarkIcon from "../assets/icons/xmark-solid.svg";

const links: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Projects", href: "/projects" },
  { label: "Contact", href: "mailto:heygauravshukla@gmail.com" },
];
---

<header>
  <nav class="wrapper">
    <a class="skip-to-main" href="#main-content">Skip to main content</a>
    <a class="logo" href="/">
      <img src={AvatarImage.src} alt="Gaurav Shukla" width="28" height="28" />
    </a>
    <button class="menu-opener" aria-controls="primary-nav">
      <span class="visually-hidden">Open Menu</span>
      <BarsIcon />
    </button>
    <div id="primary-nav" aria-expanded="false">
      <button class="menu-closer" aria-controls="primary-nav">
        <span class="visually-hidden">Close Menu</span>
        <XMarkIcon class="icon" />
      </button>
      <menu>
        {
          links.map((link) => (
            <li>
              <a href={link.href}>{link.label}</a>
            </li>
          ))
        }
      </menu>
    </div>
  </nav>
</header>

<script>
  const nav = document.querySelector("#primary-nav");
  const navTogglers = document.querySelectorAll(
    '[aria-controls="primary-nav"]'
  );

  navTogglers.forEach((navToggler) => {
    navToggler.addEventListener("click", () => {
      const isOpen = nav?.getAttribute("aria-expanded") === "true";
      nav?.setAttribute("aria-expanded", String(!isOpen));
      document.body.style.overflow = isOpen ? "auto" : "hidden";
    });
  });
</script>

<style>
  header {
    container-type: inline-size;

    position: sticky;
    top: 0;
    z-index: 5;

    background-color: hsl(from var(--clr-surface-1) h s l / 0.5);
    backdrop-filter: blur(8px);
    padding-block: 1rem;
    border-bottom: 1px solid var(--clr-surface-3);
  }

  nav {
    display: flex;
    gap: 0 1rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .skip-to-main {
    position: absolute;
    color: var(--clr-surface-1);
    background-color: var(--clr-brand);
    padding: 1em 3em;
    font-weight: var(--fw-bold);
    translate: 0 -200%;
    transition: translate 250ms;

    &:focus-visible {
      translate: 0 0;
    }
  }

  .logo img {
    border-radius: 100vh;
  }

  .menu-opener,
  .menu-closer {
    display: none;
  }

  menu {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 3rem;
  }

  menu a {
    text-decoration: none;
    color: currentColor;
    text-transform: lowercase;
    transition: color 250ms;

    &:hover {
      color: var(--clr-brand);
    }
  }

  @container (max-width: 640px) {
    .menu-opener,
    .menu-closer {
      display: grid;
      align-items: center;
      background-color: transparent;
      padding: 0;
      border: 0;

      > svg {
        fill: var(--clr-text-2);
        width: 1rem;
        height: auto;
      }
    }

    #primary-nav {
      translate: 0 -200%;
      visibility: hidden;

      display: grid;
      grid-template-rows: auto 1fr;

      position: fixed;
      inset: 0;
      z-index: 5;

      height: 100dvh;
      background-color: var(--clr-surface-1);
      padding: 1.5rem 1rem;

      transition: all 300ms;
    }

    #primary-nav[aria-expanded="true"] {
      translate: 0 0;
      visibility: visible;
    }

    .menu-closer {
      justify-self: end;
    }

    menu {
      display: grid;
      gap: 1rem;
      place-content: center;
    }

    menu li {
      text-align: center;
    }

    menu a {
      font-size: var(--fs-500);
    }
  }
</style>
