---
import type { HTMLAttributes } from "astro/types";

import AvatarImage from "../assets/gaurav-shukla.webp";
import BarsIcon from "../assets/icons/bars-solid.svg";
import XMarkIcon from "../assets/icons/xmark-solid.svg";
import ModeToggle from "./ModeToggle.astro";

const links: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Projects", href: "/projects" },
  { label: "Contact", href: "mailto:heygauravshukla@gmail.com" },
];

type Props = HTMLAttributes<"a">;

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
---

<script>
  const nav = document.querySelector("#primary-nav");
  const navTogglers = document.querySelectorAll(
    '[aria-controls="primary-nav"]'
  );

  navTogglers.forEach((navToggler) => {
    navToggler.addEventListener("click", () => {
      const isOpen = nav?.getAttribute("aria-expanded") === "true";
      nav?.setAttribute("aria-expanded", String(!isOpen));
      document.body.style.overflow = isOpen ? "auto" : "hidden";
    });
  });
</script>

<header
  class="bg-background/95 @container sticky top-0 z-5 border-b py-4 backdrop-blur-sm"
>
  <nav class="wrapper flex flex-wrap justify-between gap-4">
    <a
      href="#main-content"
      class="bg-primary text-primary-foreground absolute -translate-y-[200%] px-6 py-4 text-sm font-semibold underline transition-transform focus-visible:translate-y-0"
      >Skip to main content</a
    >

    <a href="/">
      <img
        src={AvatarImage.src}
        alt="Gaurav Shukla"
        width="28"
        height="28"
        class="rounded-full"
      />
    </a>

    <div
      id="primary-nav"
      aria-expanded="false"
      class="@max-2xl:bg-popover @max-2xl:invisible @max-2xl:fixed @max-2xl:inset-0 @max-2xl:z-5 @max-2xl:grid @max-2xl:h-[100dvh] @max-2xl:-translate-y-[200%] @max-2xl:grid-rows-[auto_1fr] @max-2xl:px-4 @max-2xl:py-6 @max-2xl:transition-all @max-2xl:aria-[expanded=true]:visible @max-2xl:aria-[expanded=true]:translate-y-0"
    >
      <button
        aria-controls="primary-nav"
        class="hidden @max-2xl:block @max-2xl:justify-self-end"
      >
        <XMarkIcon class="fill-foreground size-4" />
        <span class="sr-only">Close Menu</span>
      </button>

      <menu
        class="flex items-center gap-10 @max-2xl:grid @max-2xl:place-content-center @max-2xl:gap-4"
      >
        {
          links.map((link) => {
            const isActive =
              link.href === pathname ||
              link.href === "/" + (subpath?.[0] || "");

            return (
              <li class="@max-2xl:text-center">
                <a
                  aria-current={isActive ? "page" : undefined}
                  href={link.href}
                  class="text-muted-foreground hover:text-primary aria-[current=page]:text-primary lowercase transition-colors @max-2xl:text-lg"
                >
                  {link.label}
                </a>
              </li>
            );
          })
        }
      </menu>
    </div>

    <div class="flex items-center gap-5">
      <ModeToggle />

      <button class="hidden @max-2xl:block" aria-controls="primary-nav">
        <BarsIcon class="fill-foreground size-4" />
        <span class="sr-only">Open Menu</span>
      </button>
    </div>
  </nav>
</header>
