---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'

import AvatarImage from '../assets/gaurav-shukla.webp'
import GitHubIcon from '../assets/icons/github-brands.svg'
import LinkedInIcon from '../assets/icons/linkedin-brands.svg'
import XIcon from '../assets/icons/x-twitter-brands.svg'
import InstagramIcon from '../assets/icons/instagram-brands.svg'

const links: { label: string; href: string; icon?: AstroComponentFactory }[] = [
  {
    label: 'GitHub',
    href: 'https://github.com/heygauravshukla',
    icon: GitHubIcon,
  },
  {
    label: 'LinkedIn',
    href: 'https://linkedin.com/in/heygauravshukla',
    icon: LinkedInIcon,
  },
  { label: 'X', href: 'https://x.com/heygauravshukla', icon: XIcon },
  {
    label: 'Instagram',
    href: 'https://instagram.com/heygauravshukla',
    icon: InstagramIcon,
  },
]
---

<section class="section flow">
  <img src={AvatarImage.src} alt="Gaurav Shukla" width="64" height="64" />
  <h1>
    <span class="visually-hidden">Gaurav Shukla</span>
    Frontend developer, creator, and tech enthusiast.
  </h1>
  <p>
    I’m Gaurav, a frontend developer and innovator based in India. I build
    modern, user-focused web experiences with tools like React and Next.js,
    passionate about creating solutions that blend design and technology
    seamlessly.
  </p>
  <ul>
    {
      links.map((link) => {
        const Icon = link.icon
        return (
          <li>
            <a href={link.href} target="_blank" rel="noopener noreferrer">
              {Icon && <Icon class="icon" />}
              <span class="visually-hidden">Visit my {link.label} profile</span>
            </a>
          </li>
        )
      })
    }
  </ul>
</section>

<style>
  img {
    display: inline-block;
    margin-block-end: var(--size-2);
    border-radius: var(--radius-round);
  }

  h1 {
    max-width: var(--size-header-1);
    text-wrap: unset;
    font-size: var(--font-size-fluid-3);
    line-height: var(--font-lineheight-1);
  }

  p {
    max-width: var(--size-content-4);
  }

  ul {
    list-style: none;
    padding: 0;
    padding-block-start: var(--size-2);
    margin-block-end: 0;

    display: flex;
    gap: var(--size-5);
    align-items: center;
  }

  ul a {
    display: grid;
  }

  .icon {
    width: var(--size-4);
    transition: fill 250ms;

    &:hover {
      fill: var(--brand);
    }
  }
</style>
