---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

import AvatarImage from "../assets/gaurav-shukla.webp";
import XIcon from "../assets/icons/x-twitter-brands.svg";
import InstagramIcon from "../assets/icons/instagram-brands.svg";
import GitHubIcon from "../assets/icons/github-brands.svg";
import LinkedInIcon from "../assets/icons/linkedin-brands.svg";

const links: { label: string; href: string; icon?: AstroComponentFactory }[] = [
  { label: "X", href: "https://x.com/heygauravshukla", icon: XIcon },
  {
    label: "Instagram",
    href: "https://instagram.com/heygauravshukla",
    icon: InstagramIcon,
  },
  {
    label: "GitHub",
    href: "https://github.com/heygauravshukla",
    icon: GitHubIcon,
  },
  {
    label: "LinkedIn",
    href: "https://linkedin.com/in/heygauravshukla",
    icon: LinkedInIcon,
  },
];
---

<section class="@container py-24">
  <div class="wrapper">
    <img
      src={AvatarImage.src}
      alt="Gaurav Shukla"
      width="64"
      height="64"
      class="inline-block rounded-full"
    />
    <h1
      class="mt-7 text-4xl leading-[1.1] font-medium tracking-tighter @md:text-balance @xl:text-5xl @3xl:text-6xl"
    >
      <span class="sr-only">Gaurav Shukla</span>
      Front-end developer and accessibility advocate.
    </h1>
    <p class="text-muted-foreground mt-4 max-w-[65ch] text-base/7">
      I'm Gaurav, a front-end developer and accessibility advocate based in
      India. I build modern, inclusive web experiences with React and Next.js,
      ensuring digital products are usable by everyone regardless of ability.
    </p>
    <ul class="mt-6 flex items-center gap-7">
      {
        links.map((link) => {
          const Icon = link.icon;
          return (
            <li>
              <a href={link.href} target="_blank" rel="noopener noreferrer">
                {Icon && (
                  <Icon class="fill-muted-foreground hover:fill-primary size-5.5 transition-colors" />
                )}
                <span class="sr-only">Visit my {link.label} profile</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
