---
export const skills: string[] = [
  "HTML",
  "CSS",
  "Tailwind CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "Next.js",
  "Astro",
  "Git",
  "GitHub",
  "Figma",
];
---

<section class="bg-accent text-accent-foreground @container py-20 md:py-28">
  <div class="wrapper space-y-8">
    <h2 class="text-3xl font-medium tracking-tighter @xl:text-4xl">
      My technical skills.
    </h2>
    <ul class="flex flex-wrap gap-4 *:flex-1 @4xl:gap-6">
      {
        skills.map((skill) => (
          <li class="text-muted-foreground border-muted-foreground min-w-fit rounded-md border border-dotted p-5 text-center uppercase @4xl:p-7">
            {skill}
          </li>
        ))
      }
    </ul>
  </div>
</section>
