---
export const skills: string[] = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "Next.js",
  "Tailwind CSS",
  "Git",
  "GitHub",
  "Figma",
];
---

<section id="skills">
  <div class="wrapper">
    <h2>Skills</h2>
    <ul class="flexible-grid">
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </div>
</section>

<style>
  section {
    padding-block: var(--size-fluid-5);
  }

  .wrapper {
    display: grid;
    gap: var(--size-6);
  }

  h2 {
    font-size: var(--font-size-fluid-2);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    gap: var(--size-fluid-3);
  }

  li {
    padding: var(--size-fluid-3);
    border: var(--border-size-2) solid var(--surface-3);
    border-radius: var(--radius-drawn-6);

    text-wrap: nowrap;
    text-align: center;
    text-transform: uppercase;
  }
</style>
