---
export const skills: string[] = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "Next.js",
  "Astro",
  "Tailwind CSS",
  "Git",
  "GitHub",
  "Figma",
];
---

<section class="section background-surface-2">
  <div class="wrapper flow">
    <h2 class="section-title">My technical skills.</h2>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </div>
</section>

<style>
  section {
    container-type: inline-size;
  }

  .wrapper {
    --_flow-space: 2.25rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-block-end: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    & > * {
      flex: 1;
    }
  }

  li {
    min-width: fit-content;
    padding: 1.5rem;
    border: 2px dotted var(--clr-surface-4);
    border-radius: 8px;

    text-align: center;
    text-transform: uppercase;
  }

  @container (min-width: 640px) {
    ul {
      gap: 1.5rem;
    }

    li {
      padding: 2rem;
    }
  }
</style>
