---
import Header from "../components/Header.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const {
  title = "Gaurav Shukla: Personal Website",
  description = "The personal website of Gaurav Shukla",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Header />
    <main id="main-content" class="content-grid">
      <slot />
      <ContactCTA />
    </main>
    <Footer />
  </body>
</html>
